:root {
  --primary-color: #ff69b4;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
}

.navbar-brand,
.navbar-toggler {
  color: #ff69b4;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  color: hotpink;
}

h2 {
  font-size: 48px;
}

.app-name {
  text-align: justify;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  padding: 20px 0px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.active {
  color: hotpink !important;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.connect-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.connect-link:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.about-paragraphs {
  display: flex;
  margin: 30px;
}

.about-paragraphs p {
  margin: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  color: var(--primary-color) !important;
  font-size: 36px;
  text-decoration: none;
}
.social-links a:hover {
  opacity: 0.7;
}

.launch-app-links {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 20px 15px;
  border-radius: 4px;
  text-decoration: none;
}

.launch-app-links:hover {
  background: #f5f2fe;
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
}

.page-footer {
  background: var(--secondary-color);
  margin: 10px 0px;
}

.coder-links a {
  text-decoration: none;
  color: var(--primary-color);
}

.coder-links a:hover {
  text-decoration: none;
  opacity: 0.7;
}

@media (max-width: 576px) {
  .subheading-text {
    display: none;
  }
  .homepage-images {
    display: 100%;
  }
  .app-link {
    display: block;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  .app-name,
  .app-link {
    text-align: center;
  }
}
